.registration__block{
    width: 400px;
    margin: 0 auto;
    margin-top: 150px;

}

.subscribe-form__field{
    width: 400px;
}

.subscribe-form__btn{
    top: 120%;
    left: -145px;
}